<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <title>YouTube</title>
</head>
<body>
    <div class="container">
        <header class="main-header">
            <div class="header-box">
                <div class="header-menu">
                    <button class="header-menu-icon CP"><i class="fas fa-bars"></i></button>
                    <div class="logo-box">
                        <a href="#" class="header-logo"></a>
                        <p>KR</p>
                    </div>
                </div>
                <div class="header-search">
                    <div class="header-search-box">
                        <div  class="header-search-wrap">
                            <div class="search-input">
                                <input type="text" placeholder="검색">
                                <div class="keyboard-icon-box">
                                    <span class="keyboard-icon CP hidden"></span>
                                </div>
                            </div>
                            <div class="search-btn-box">
                                <button class="search-btn CP"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-mymenu">
                    <button class="mymenu-make app-btn CP"><i class="fas fa-video"></i></button>
                    <button class="mymenu-app app-btn CP"><i class="fas fa-th"></i></button>
                    <button class="mymenu-alarm app-btn CP"><i class="fas fa-bell"></i></button>
                    <button class="mymenu-my CP"><img class="user-img" src="../static/images/user-img/example01.jpg" alt="회원사진"></button>
                </div>
            </div>
        </header>
        <nav class="main-nav">
            <div class="main-nav-wrap">
                <div class="nav-space"></div>
                <div class="nav-list-box">
                    <ul>
                        <li><i class="fas fa-home"></i><p>홈</p></li>
                        <li><i class="fas fa-fire"></i><p>인기</p></li>
                        <li><i class="fab fa-youtube"></i><p>구독</p></li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-archive"></i><p>보관함</p></li>
                        <li><i class="fas fa-history"></i><p>시청 기록</p></li>
                        <li><i class="far fa-play-circle"></i><p>내 동영상</p></li>
                        <li><i class="fas fa-clock"></i><p>나중에 볼 동영상</p></li>
                        <li><i class="fas fa-thumbs-up"></i></i></i><p>좋아요 표시한 동영상</p></li>
                    </ul>
                </div>
                <div class="nav-list-box">
                    <ul>
                        <p>구독</p>
                        <li><img src="../static/images/chanal-logo/ITSub잇섭.jpg" alt=""><p>ITSub잇섭</p></li>
                        <li><img src="../static/images/chanal-logo/먹어볼래TryToEat.jpg" alt=""><p>먹어볼래TryToEat</p></li>
                        <li><img src="../static/images/chanal-logo/애주가TV참PD.jpg" alt=""><p>애주가TV참PD</p></li>
                        <li><img src="../static/images/chanal-logo/얄팍한 코딩사전.jpg" alt=""><p>얄팍한 코딩사전</p></li>
                        <li><img src="../static/images/chanal-logo/장삐쭈.jpg" alt=""><p>장삐쭈</p></li>
                        <li><img src="../static/images/chanal-logo/조제알통.jpg" alt=""><p>조제알통</p></li>
                        <li><img src="../static/images/chanal-logo/허팝Heopop.jpg" alt=""><p>허팝Heopop</p></li>
                        <li><i class="fas fa-chevron-down"></i><p>30개 더보기</p></li>
                    </ul>
                </div>
                <div class="nav-list-box">
                    <ul>
                        <p>YOUTUBE 더보기</p>
                        <li><i class="fab fa-youtube"></i><p>YouTubePremium</p></li>
                        <li><i class="fas fa-film"></i><p>YouTube 영화</p></li>
                        <li><i class="fas fa-gamepad"></i><p>게임</p></li>
                        <li><i class="fas fa-broadcast-tower"></i><p>실시간</p></li>
                        <li><i class="fas fa-lightbulb"></i><p>학습</p></li>
                    </ul>
                </div>
                <div class="nav-list-box">
                    <ul>
                        <li><i class="fas fa-cog"></i><p>설정</p></li>
                        <li><i class="fas fa-flag"></i><p>신고 기록</p></li>
                        <li><i class="fas fa-question-circle"></i><p>고객센터</p></li>
                        <li><i class="fas fa-comment-alt"></i><p>의견보내기</p></li>
                    </ul>
                </div>
                <div class="nav-footer">
                    <div class="guide-link">

                    </div>
                    <div class="guide-link">
                        
                    </div>
                    <div class="copy-write">
                        © 2020 Clone-Coding<br/>
                        name : HyeongKyu<br/>
                        주소 : https://github.com/hyeongkyuPark/YouTube-Clone<br/>
                        블로그 : https://blog.naver.com/phg0644
                    </div>
                </div>
            </div>
        </nav>
        <nav class="sub-nav">
            <div class="sub-nav-wrap">
                <div class="nav-space"></div>
                <ul>
                    <li><i class="fas fa-home"></i><p>홈</p></li>
                    <li><i class="fas fa-fire"></i><p>인기</p></li>
                    <li><i class="fab fa-youtube"></i><p>구독</p></li>
                    <li><i class="fas fa-archive"></i><p>보관함</p></li>
                </ul>
            </div>
        </nav>
        <div class="content">
            <div class="content-wrap">
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/test01.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/섬마을훈태.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">50년 동안 지역 최고의 가성비라는 오뎅집을 다녀왔습니다.</div>
                                <div class="chanal-name">섬마을훈태TV</div>
                                <div class="video-info">
                                    <div class="view">조회수 19만회</div>
                                    <span>·</span>
                                    <div class="date">1일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/test02.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/보겸.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">파맛첵스? 먹자마자 벽에던져버렸습니다.</div>
                                <div class="chanal-name">보겸 BK</div>
                                <div class="video-info">
                                    <div class="view">조회수 15만회</div>
                                    <span>·</span>
                                    <div class="date">3시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/test05.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/훼사원.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">깡통차 실내를 베이지색 인테리어로 바꿔보자</div>
                                <div class="chanal-name">훼사원</div>
                                <div class="video-info">
                                    <div class="view">조회수 22만회</div>
                                    <span>·</span>
                                    <div class="date">2일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/test03.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/인피쉰.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">딱 20초!커널 저글링으로 상대 본진 초토화 시키는 시간 ㅋㅋㅋ</div>
                                <div class="chanal-name">인피쉰</div>
                                <div class="video-info">
                                    <div class="view">조회수 2.7만회</div>
                                    <span>·</span>
                                    <div class="date">13시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/test04.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/[TheSINZA]더 신자 편안한 IT리뷰.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">이게 진짜 미래와의 조우. 갤럭시 폴드2 그리고 갤럭시워치3, 갤럭시S20 FE 미리보는 삼성 언팩</div>
                                <div class="chanal-name">더 신자 편안한 : IT리뷰</div>
                                <div class="video-info">
                                    <div class="view">조회수 7.6만회</div>
                                    <span>·</span>
                                    <div class="date">4일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/우왕굳의 게임방송.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/우왕굳의 게임방송.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">50년 동안 지역 최고의 가성비라는 오뎅집을 다녀왔습니다.</div>
                                <div class="chanal-name">우왕굳의 게임방송</div>
                                <div class="video-info">
                                    <div class="view">조회수 19만회</div>
                                    <span>·</span>
                                    <div class="date">1일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/이슈피드.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/이슈피드.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">파맛첵스? 먹자마자 벽에던져버렸습니다.</div>
                                <div class="chanal-name">이슈피드</div>
                                <div class="video-info">
                                    <div class="view">조회수 15만회</div>
                                    <span>·</span>
                                    <div class="date">3시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/주간이상준.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/주간이상준.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">깡통차 실내를 베이지색 인테리어로 바꿔보자</div>
                                <div class="chanal-name">주간이상준</div>
                                <div class="video-info">
                                    <div class="view">조회수 22만회</div>
                                    <span>·</span>
                                    <div class="date">2일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/침착맨.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/침착맨.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">딱 20초!커널 저글링으로 상대 본진 초토화 시키는 시간 ㅋㅋㅋ</div>
                                <div class="chanal-name">침착맨</div>
                                <div class="video-info">
                                    <div class="view">조회수 2.7만회</div>
                                    <span>·</span>
                                    <div class="date">13시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/프응TV.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/프응TV.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">이게 진짜 미래와의 조우. 갤럭시 폴드2 그리고 갤럭시워치3, 갤럭시S20 FE 미리보는 삼성 언팩</div>
                                <div class="chanal-name">프응TV</div>
                                <div class="video-info">
                                    <div class="view">조회수 7.6만회</div>
                                    <span>·</span>
                                    <div class="date">4일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/EBS컬렉션 - 라이프스타일.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/EBS컬렉션 - 라이프스타일.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">50년 동안 지역 최고의 가성비라는 오뎅집을 다녀왔습니다.</div>
                                <div class="chanal-name">EBS컬렉션 - 라이프스타일</div>
                                <div class="video-info">
                                    <div class="view">조회수 19만회</div>
                                    <span>·</span>
                                    <div class="date">1일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/KBS HUMAN 뭉클티비.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/KBS HUMAN 뭉클티비.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">파맛첵스? 먹자마자 벽에던져버렸습니다.</div>
                                <div class="chanal-name">KBS HUMAN: 뭉클티비</div>
                                <div class="video-info">
                                    <div class="view">조회수 15만회</div>
                                    <span>·</span>
                                    <div class="date">3시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/KBS N.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/KBS N.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">깡통차 실내를 베이지색 인테리어로 바꿔보자</div>
                                <div class="chanal-name">KBS N</div>
                                <div class="video-info">
                                    <div class="view">조회수 22만회</div>
                                    <span>·</span>
                                    <div class="date">2일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/MBCKpop.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/MBCKpop.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">딱 20초!커널 저글링으로 상대 본진 초토화 시키는 시간 ㅋㅋㅋ</div>
                                <div class="chanal-name">MBCKpop</div>
                                <div class="video-info">
                                    <div class="view">조회수 2.7만회</div>
                                    <span>·</span>
                                    <div class="date">13시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/tvN D ENT.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/tvN D ENT.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">이게 진짜 미래와의 조우. 갤럭시 폴드2 그리고 갤럭시워치3, 갤럭시S20 FE 미리보는 삼성 언팩</div>
                                <div class="chanal-name">tvN D ENT</div>
                                <div class="video-info">
                                    <div class="view">조회수 7.6만회</div>
                                    <span>·</span>
                                    <div class="date">4일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/Topic.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/Topic.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">50년 동안 지역 최고의 가성비라는 오뎅집을 다녀왔습니다.</div>
                                <div class="chanal-name">Topic</div>
                                <div class="video-info">
                                    <div class="view">조회수 19만회</div>
                                    <span>·</span>
                                    <div class="date">1일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/김태원클라쓰.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/김태원클라쓰.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">파맛첵스? 먹자마자 벽에던져버렸습니다.</div>
                                <div class="chanal-name">김태원클라쓰</div>
                                <div class="video-info">
                                    <div class="view">조회수 15만회</div>
                                    <span>·</span>
                                    <div class="date">3시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/뭅뭅.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/뭅뭅.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">깡통차 실내를 베이지색 인테리어로 바꿔보자</div>
                                <div class="chanal-name">뭅뭅</div>
                                <div class="video-info">
                                    <div class="view">조회수 22만회</div>
                                    <span>·</span>
                                    <div class="date">2일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/밀라논나 Milanonna.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/밀라논나 Milanonna.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">딱 20초!커널 저글링으로 상대 본진 초토화 시키는 시간 ㅋㅋㅋ</div>
                                <div class="chanal-name">밀라논나 Milanonna</div>
                                <div class="video-info">
                                    <div class="view">조회수 2.7만회</div>
                                    <span>·</span>
                                    <div class="date">13시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/방 영화 - B Cine.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/방 영화 - B Cine.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">이게 진짜 미래와의 조우. 갤럭시 폴드2 그리고 갤럭시워치3, 갤럭시S20 FE 미리보는 삼성 언팩</div>
                                <div class="chanal-name">방 영화 - B Cine</div>
                                <div class="video-info">
                                    <div class="view">조회수 7.6만회</div>
                                    <span>·</span>
                                    <div class="date">4일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/밴쯔.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/밴쯔.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">50년 동안 지역 최고의 가성비라는 오뎅집을 다녀왔습니다.</div>
                                <div class="chanal-name">밴쯔</div>
                                <div class="video-info">
                                    <div class="view">조회수 19만회</div>
                                    <span>·</span>
                                    <div class="date">1일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/사오TV.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/사오TV.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">파맛첵스? 먹자마자 벽에던져버렸습니다.</div>
                                <div class="chanal-name">사오TV</div>
                                <div class="video-info">
                                    <div class="view">조회수 15만회</div>
                                    <span>·</span>
                                    <div class="date">3시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/악어아빠김줄스 ZoolsKim.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/악어아빠김줄스 ZoolsKim.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">깡통차 실내를 베이지색 인테리어로 바꿔보자</div>
                                <div class="chanal-name">악어아빠김줄스 ZoolsKim</div>
                                <div class="video-info">
                                    <div class="view">조회수 22만회</div>
                                    <span>·</span>
                                    <div class="date">2일 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-box">
                    <div class="item">
                        <img src="../static/images/video/유네영.webp" alt="">
                        <div class="content-info">
                            <a><img src="../static/images/chanal-logo/유네영.jpg" alt=""></a>
                            <div class="info-box">
                                <div class="title">딱 20초!커널 저글링으로 상대 본진 초토화 시키는 시간 ㅋㅋㅋ</div>
                                <div class="chanal-name">유네영</div>
                                <div class="video-info">
                                    <div class="view">조회수 2.7만회</div>
                                    <span>·</span>
                                    <div class="date">13시간 전</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>